.wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1010px;
  margin: 0 auto;
  padding: 23px 16px 17px 16px;
  background-color: white;
}

.main-header {
  margin-bottom: 20px;
}



@media (min-width: 768px) {
  .main-container {
    padding: 23px 36px 17px 36px;
  }

  .main-header {
    margin-bottom: 40px;
  }
}